<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.clw.dao.ClwMovielistMapper">
  <resultMap id="BaseResultMap" type="com.yc.clw.bean.ClwMovielist">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="is_hot" jdbcType="VARCHAR" property="isHot" />
    <result column="geners" jdbcType="INTEGER" property="geners" />
    <result column="actor" jdbcType="INTEGER" property="actor" />
    <result column="actor1" jdbcType="INTEGER" property="actor1" />
    <result column="director" jdbcType="VARCHAR" property="director" />
    <result column="country" jdbcType="INTEGER" property="country" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="geners1" jdbcType="INTEGER" property="geners1" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="other" jdbcType="VARCHAR" property="other" />
    
    <!-- <collection property="children" column="id" select="selectChildren">
    
    </collection> -->
  </resultMap>
  <!-- <select id="selectChildren" resultMap="BaseResultMap"></select> -->
  
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, description, createtime, is_hot, geners, actor, actor1, director, country, 
    score, geners1, image, other
  </sql>
  <select id="selectByExample" parameterType="com.yc.clw.bean.ClwMovielistExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from clw_movielist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from clw_movielist
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from clw_movielist
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yc.clw.bean.ClwMovielistExample">
    delete from clw_movielist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yc.clw.bean.ClwMovielist">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into clw_movielist (name, description, createtime, 
      is_hot, geners, actor, 
      actor1, director, country, 
      score, geners1, image, 
      other)
    values (#{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{isHot,jdbcType=VARCHAR}, #{geners,jdbcType=INTEGER}, #{actor,jdbcType=INTEGER}, 
      #{actor1,jdbcType=INTEGER}, #{director,jdbcType=VARCHAR}, #{country,jdbcType=INTEGER}, 
      #{score,jdbcType=INTEGER}, #{geners1,jdbcType=INTEGER}, #{image,jdbcType=VARCHAR}, 
      #{other,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yc.clw.bean.ClwMovielist">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into clw_movielist
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="isHot != null">
        is_hot,
      </if>
      <if test="geners != null">
        geners,
      </if>
      <if test="actor != null">
        actor,
      </if>
      <if test="actor1 != null">
        actor1,
      </if>
      <if test="director != null">
        director,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="geners1 != null">
        geners1,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="other != null">
        other,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isHot != null">
        #{isHot,jdbcType=VARCHAR},
      </if>
      <if test="geners != null">
        #{geners,jdbcType=INTEGER},
      </if>
      <if test="actor != null">
        #{actor,jdbcType=INTEGER},
      </if>
      <if test="actor1 != null">
        #{actor1,jdbcType=INTEGER},
      </if>
      <if test="director != null">
        #{director,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="geners1 != null">
        #{geners1,jdbcType=INTEGER},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="other != null">
        #{other,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yc.clw.bean.ClwMovielistExample" resultType="java.lang.Long">
    select count(*) from clw_movielist
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update clw_movielist
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null">
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isHot != null">
        is_hot = #{record.isHot,jdbcType=VARCHAR},
      </if>
      <if test="record.geners != null">
        geners = #{record.geners,jdbcType=INTEGER},
      </if>
      <if test="record.actor != null">
        actor = #{record.actor,jdbcType=INTEGER},
      </if>
      <if test="record.actor1 != null">
        actor1 = #{record.actor1,jdbcType=INTEGER},
      </if>
      <if test="record.director != null">
        director = #{record.director,jdbcType=VARCHAR},
      </if>
      <if test="record.country != null">
        country = #{record.country,jdbcType=INTEGER},
      </if>
      <if test="record.score != null">
        score = #{record.score,jdbcType=INTEGER},
      </if>
      <if test="record.geners1 != null">
        geners1 = #{record.geners1,jdbcType=INTEGER},
      </if>
      <if test="record.image != null">
        image = #{record.image,jdbcType=VARCHAR},
      </if>
      <if test="record.other != null">
        other = #{record.other,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update clw_movielist
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      is_hot = #{record.isHot,jdbcType=VARCHAR},
      geners = #{record.geners,jdbcType=INTEGER},
      actor = #{record.actor,jdbcType=INTEGER},
      actor1 = #{record.actor1,jdbcType=INTEGER},
      director = #{record.director,jdbcType=VARCHAR},
      country = #{record.country,jdbcType=INTEGER},
      score = #{record.score,jdbcType=INTEGER},
      geners1 = #{record.geners1,jdbcType=INTEGER},
      image = #{record.image,jdbcType=VARCHAR},
      other = #{record.other,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.clw.bean.ClwMovielist">
    update clw_movielist
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isHot != null">
        is_hot = #{isHot,jdbcType=VARCHAR},
      </if>
      <if test="geners != null">
        geners = #{geners,jdbcType=INTEGER},
      </if>
      <if test="actor != null">
        actor = #{actor,jdbcType=INTEGER},
      </if>
      <if test="actor1 != null">
        actor1 = #{actor1,jdbcType=INTEGER},
      </if>
      <if test="director != null">
        director = #{director,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="geners1 != null">
        geners1 = #{geners1,jdbcType=INTEGER},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="other != null">
        other = #{other,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.clw.bean.ClwMovielist">
    update clw_movielist
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      is_hot = #{isHot,jdbcType=VARCHAR},
      geners = #{geners,jdbcType=INTEGER},
      actor = #{actor,jdbcType=INTEGER},
      actor1 = #{actor1,jdbcType=INTEGER},
      director = #{director,jdbcType=VARCHAR},
      country = #{country,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER},
      geners1 = #{geners1,jdbcType=INTEGER},
      image = #{image,jdbcType=VARCHAR},
      other = #{other,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>