<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.clw.dao.ClwTypeMapper">
  <resultMap id="BaseResultMap" type="com.yc.clw.bean.ClwType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="country" jdbcType="INTEGER" property="country" />
    <result column="is_hot" jdbcType="INTEGER" property="isHot" />
    <result column="geners" jdbcType="INTEGER" property="geners" />
    <result column="director" jdbcType="VARCHAR" property="director" />
    <result column="actor" jdbcType="INTEGER" property="actor" />
    <result column="geners1" jdbcType="INTEGER" property="geners1" />
    <result column="geners2" jdbcType="INTEGER" property="geners2" />
    <result column="geners3" jdbcType="INTEGER" property="geners3" />
    <result column="actor2" jdbcType="INTEGER" property="actor2" />
    <result column="actor3" jdbcType="INTEGER" property="actor3" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, country, is_hot, geners, director, actor, geners1, geners2, geners3, actor2, 
    actor3
  </sql>
  <select id="selectByExample" parameterType="com.yc.clw.bean.ClwTypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from clw_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from clw_type
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from clw_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yc.clw.bean.ClwTypeExample">
    delete from clw_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yc.clw.bean.ClwType">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into clw_type (country, is_hot, geners, 
      director, actor, geners1, 
      geners2, geners3, actor2, 
      actor3)
    values (#{country,jdbcType=INTEGER}, #{isHot,jdbcType=INTEGER}, #{geners,jdbcType=INTEGER}, 
      #{director,jdbcType=VARCHAR}, #{actor,jdbcType=INTEGER}, #{geners1,jdbcType=INTEGER}, 
      #{geners2,jdbcType=INTEGER}, #{geners3,jdbcType=INTEGER}, #{actor2,jdbcType=INTEGER}, 
      #{actor3,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yc.clw.bean.ClwType">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into clw_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="country != null">
        country,
      </if>
      <if test="isHot != null">
        is_hot,
      </if>
      <if test="geners != null">
        geners,
      </if>
      <if test="director != null">
        director,
      </if>
      <if test="actor != null">
        actor,
      </if>
      <if test="geners1 != null">
        geners1,
      </if>
      <if test="geners2 != null">
        geners2,
      </if>
      <if test="geners3 != null">
        geners3,
      </if>
      <if test="actor2 != null">
        actor2,
      </if>
      <if test="actor3 != null">
        actor3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="country != null">
        #{country,jdbcType=INTEGER},
      </if>
      <if test="isHot != null">
        #{isHot,jdbcType=INTEGER},
      </if>
      <if test="geners != null">
        #{geners,jdbcType=INTEGER},
      </if>
      <if test="director != null">
        #{director,jdbcType=VARCHAR},
      </if>
      <if test="actor != null">
        #{actor,jdbcType=INTEGER},
      </if>
      <if test="geners1 != null">
        #{geners1,jdbcType=INTEGER},
      </if>
      <if test="geners2 != null">
        #{geners2,jdbcType=INTEGER},
      </if>
      <if test="geners3 != null">
        #{geners3,jdbcType=INTEGER},
      </if>
      <if test="actor2 != null">
        #{actor2,jdbcType=INTEGER},
      </if>
      <if test="actor3 != null">
        #{actor3,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yc.clw.bean.ClwTypeExample" resultType="java.lang.Long">
    select count(*) from clw_type
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update clw_type
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.country != null">
        country = #{record.country,jdbcType=INTEGER},
      </if>
      <if test="record.isHot != null">
        is_hot = #{record.isHot,jdbcType=INTEGER},
      </if>
      <if test="record.geners != null">
        geners = #{record.geners,jdbcType=INTEGER},
      </if>
      <if test="record.director != null">
        director = #{record.director,jdbcType=VARCHAR},
      </if>
      <if test="record.actor != null">
        actor = #{record.actor,jdbcType=INTEGER},
      </if>
      <if test="record.geners1 != null">
        geners1 = #{record.geners1,jdbcType=INTEGER},
      </if>
      <if test="record.geners2 != null">
        geners2 = #{record.geners2,jdbcType=INTEGER},
      </if>
      <if test="record.geners3 != null">
        geners3 = #{record.geners3,jdbcType=INTEGER},
      </if>
      <if test="record.actor2 != null">
        actor2 = #{record.actor2,jdbcType=INTEGER},
      </if>
      <if test="record.actor3 != null">
        actor3 = #{record.actor3,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update clw_type
    set id = #{record.id,jdbcType=INTEGER},
      country = #{record.country,jdbcType=INTEGER},
      is_hot = #{record.isHot,jdbcType=INTEGER},
      geners = #{record.geners,jdbcType=INTEGER},
      director = #{record.director,jdbcType=VARCHAR},
      actor = #{record.actor,jdbcType=INTEGER},
      geners1 = #{record.geners1,jdbcType=INTEGER},
      geners2 = #{record.geners2,jdbcType=INTEGER},
      geners3 = #{record.geners3,jdbcType=INTEGER},
      actor2 = #{record.actor2,jdbcType=INTEGER},
      actor3 = #{record.actor3,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.clw.bean.ClwType">
    update clw_type
    <set>
      <if test="country != null">
        country = #{country,jdbcType=INTEGER},
      </if>
      <if test="isHot != null">
        is_hot = #{isHot,jdbcType=INTEGER},
      </if>
      <if test="geners != null">
        geners = #{geners,jdbcType=INTEGER},
      </if>
      <if test="director != null">
        director = #{director,jdbcType=VARCHAR},
      </if>
      <if test="actor != null">
        actor = #{actor,jdbcType=INTEGER},
      </if>
      <if test="geners1 != null">
        geners1 = #{geners1,jdbcType=INTEGER},
      </if>
      <if test="geners2 != null">
        geners2 = #{geners2,jdbcType=INTEGER},
      </if>
      <if test="geners3 != null">
        geners3 = #{geners3,jdbcType=INTEGER},
      </if>
      <if test="actor2 != null">
        actor2 = #{actor2,jdbcType=INTEGER},
      </if>
      <if test="actor3 != null">
        actor3 = #{actor3,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.clw.bean.ClwType">
    update clw_type
    set country = #{country,jdbcType=INTEGER},
      is_hot = #{isHot,jdbcType=INTEGER},
      geners = #{geners,jdbcType=INTEGER},
      director = #{director,jdbcType=VARCHAR},
      actor = #{actor,jdbcType=INTEGER},
      geners1 = #{geners1,jdbcType=INTEGER},
      geners2 = #{geners2,jdbcType=INTEGER},
      geners3 = #{geners3,jdbcType=INTEGER},
      actor2 = #{actor2,jdbcType=INTEGER},
      actor3 = #{actor3,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>