<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>一部电影 - 修改密码</title>
  <!-- base:css -->
  <link rel="stylesheet" href="ubui_2_SpicaAdmin/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="ubui_2_SpicaAdmin/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="ubui_2_SpicaAdmin/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="ubui_2_SpicaAdmin/images/favicon.png" />
</head>

<body>
  <div class="container-scroller d-flex">
    <!-- partial:ubui_2_SpicaAdmin/partials/_sidebar.html -->
    <nav th:replace="common/PersonalCenter::PersonalCenter"></nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
    
    <nav th:replace="common/PersonalCenter::top"></nav>
      <div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">修改密码</h4>
                  <p class="card-description">
                    	请您输入
                  </p>
                  <form class="forms-sample">
                    <div class="form-group row">
                      <label for="exampleInputUsername2" class="col-sm-3 col-form-label">邮箱验证码</label>
                      <div class="col-sm-9">
                        <button  class="btn btn-primary mr-2">点击发送验证码</button>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="exampleInputEmail2" class="col-sm-3 col-form-label">验证码</label>
                      <div class="col-sm-9">
                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="exampleInputPassword2" class="col-sm-3 col-form-label">密码</label>
                      <div class="col-sm-9">
                        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">确认密码</label>
                      <div class="col-sm-9">
                        <input type="password" class="form-control" id="exampleInputConfirmPassword2" placeholder="Password">
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">确认</button>
                    <button class="btn btn-light">取消</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- base:js -->
  <script src="ubui_2_SpicaAdmin/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="ubui_2_SpicaAdmin/js/off-canvas.js"></script>
  <script src="ubui_2_SpicaAdmin/js/hoverable-collapse.js"></script>
  <script src="ubui_2_SpicaAdmin/js/template.js"></script>
  <!-- endinject -->
  <!-- plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <script src="ubui_2_SpicaAdmin/js/file-upload.js"></script>
  <!-- End custom js for this page-->
</body>

</html>
