<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>一部电影 - 修改密码</title>
  <!-- base:css -->
  <link rel="stylesheet" href="ubui_2_SpicaAdmin/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="ubui_2_SpicaAdmin/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="ubui_2_SpicaAdmin/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="ubui_2_SpicaAdmin/images/favicon.png" />
  
  <script type="text/javascript">
  
  function sendVcode() {
		$.post("sendVcode",
			{email: $("input[name='email']").val()},
			function (msg){
				var obj = document.getElementById("msg");
				obj.innerText= msg 
			}
		)
	}
  
  function showtable(){
	//处理逻辑，获取返回值，接着调用confirm就ok了
	if(confirm("确认要修改密码吗 "))
	$("form").submit();
	}
</script>
</head>

<body>
  <div class="container-scroller d-flex">
    <!-- partial:ubui_2_SpicaAdmin/partials/_sidebar.html -->
    <nav th:replace="common/PersonalCenter::PersonalCenter"></nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
    
    <nav th:replace="common/PersonalCenter::top"></nav>
      <div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">修改密码</h4>
                  <p class="card-description" th:text="${session.Modificationtips} != null ? ${session.Modificationtips} : '请您输入'">
                    	请您输入
                  </p>
                  <form class="forms-sample" action="CPassword" method="post">
                  <div class="form-group row">
                      <label for="exampleInputUsername2" class="col-sm-3 col-form-label">您的邮箱是</label>
                      <div class="col-sm-9">
                      	<h4 class="form-control" id="msg" th:text="${session.loginedUser.email}"></h4>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="exampleInputUsername2" class="col-sm-3 col-form-label">邮箱验证码</label>
                      <div class="col-sm-9">
                      <input type="hidden" class="form-control" name="email" th:value="${session.loginedUser.email}">
                       <input type="hidden" class="form-control" name="id" th:value="${session.loginedUser.id}">
                        <button onclick="sendVcode()" type="button" class="btn btn-primary mr-2" >点击发送验证码</button>
                      </div>
                      
                    </div>
                    <div class="form-group row">
                      <label  class="col-sm-3 col-form-label">验证码</label>
                      <div class="col-sm-9">
                        <input type="text"  name="yzm" class="form-control"  placeholder="接收到的验证码">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="exampleInputPassword2" class="col-sm-3 col-form-label">新密码</label>
                      <div class="col-sm-9">
                        <input type="password" name="password" class="form-control" id="exampleInputPassword2" placeholder="请输入新密码">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">确认密码</label>
                      <div class="col-sm-9">
                        <input type="password" name="repassword" class="form-control" id="exampleInputConfirmPassword2" placeholder="请确认密码是否一致">
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2" onclick="showtable()">确认修改</button>
                    <button class="btn btn-light">取消</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- base:js -->
  <script src="ubui_2_SpicaAdmin/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="ubui_2_SpicaAdmin/js/off-canvas.js"></script>
  <script src="ubui_2_SpicaAdmin/js/hoverable-collapse.js"></script>
  <script src="ubui_2_SpicaAdmin/js/template.js"></script>
  <!-- endinject -->
  <!-- plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <script src="ubui_2_SpicaAdmin/js/file-upload.js"></script>
  <!-- End custom js for this page-->
</body>

</html>
