<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>一部电影 - 查看评论</title>
  <!-- base:css -->
  <link rel="stylesheet" href="ubui_2_SpicaAdmin/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="ubui_2_SpicaAdmin/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="ubui_2_SpicaAdmin/css/style.css">
  <style type="text/css" >
		#divMain img{ 
			width:50%;			/* ... */
			height:40%;		/* ... */
			display:block;	/* ... */
		}

  </style>
  <!-- endinject -->
  <link rel="shortcut icon" href="ubui_2_SpicaAdmin/images/favicon.png" />
</head>

<body>
  <div class="container-scroller d-flex">
    <nav th:replace="common/PersonalCenter::PersonalCenter"></nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <nav th:replace="common/PersonalCenter::top"></nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
            <!-- 这个是我发布的新闻 -->
            <h2>我的影评</h2>
            <div class="col-md-6 grid-margin stretch-card" th:each="mcy : ${mycommentary}">
            <div class="card" th:each="mycl : ${mcy.cml}">
                <div class="card-body" id="divMain">
                <img  th:src="${#strings.substringAfter(mycl.image,'-')} == null ? ${mycl.image} : ${#strings.substringBefore(mycl.image,'-')}" alt=" ">
                <!-- 标题 -->
                <h4 class="card-title" th:text="${mycl.name}">Blockquotes</h4>
                <!-- 时间 -->
                <p class="card-description" th:text="${#dates.format(mycl.createtime,'yyyy年MM月dd日')}">
                    Wrap content inside<code>&lt;blockquote class="blockquote"&gt;</code>
                  </p>
                  <blockquote class="blockquote blockquote-primary">
                  <!-- 文章内容 -->
                    <p th:text="${#strings.abbreviate(mycl.description,40)}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">由 <cite title="Source Title" th:text="${mycl.director}">Source Title</cite>编制</footer>
                  </blockquote>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                <p class="card-description" th:text="${#dates.format(mcy.createtime,'yyyy年MM月dd日')}">
                    Wrap content inside<code>&lt;blockquote class="blockquote"&gt;</code>
                  </p>
                  <blockquote class="blockquote blockquote-primary">
                  <!-- 文章内容 -->
                    <p th:text="${mcy.commentary}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">由该作者 <cite title="Source Title" th:text="${session.loginedUser.username}">Source Title</cite> 评论</footer>
                  </blockquote>
                </div>
              </div>
            </div>
            <!-- 到这里 -->
            
        </div>
        <!-- <div class="content-wrapper">
            这个是我发布的新闻
            <h2>我的回复</h2>
            <div class="col-md-6 grid-margin stretch-card" th:each="mcy : ${mycommentary}">
            <div class="card" th:each="mycl : ${mcy.cml}">
                <div class="card-body" id="divMain">
                <img  th:src="${#strings.substringAfter(mycl.image,'-')} == null ? ${mycl.image} : ${#strings.substringBefore(mycl.image,'-')}" alt=" ">
                标题
                <h4 class="card-title" th:text="${mycl.cml}">Blockquotes</h4>
                时间
                <p class="card-description" th:text="${#dates.format(mycl.createtime,'yyyy年MM月dd日')}">
                    Wrap content inside<code>&lt;blockquote class="blockquote"&gt;</code>
                  </p>
                  <blockquote class="blockquote blockquote-primary">
                  文章内容
                    <p th:text="${#strings.abbreviate(mycl.description,40)}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">由 <cite title="Source Title" th:text="${mycl.director}">Source Title</cite>编制</footer>
                  </blockquote>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                <p class="card-description" th:text="${#dates.format(mcy.createtime,'yyyy年MM月dd日')}">
                    Wrap content inside<code>&lt;blockquote class="blockquote"&gt;</code>
                  </p>
                  <blockquote class="blockquote blockquote-primary">
                  文章内容
                    <p th:text="${mcy.commentary}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer class="blockquote-footer">由该作者 <cite title="Source Title" th:text="${session.loginedUser.username}">Source Title</cite> 评论</footer>
                  </blockquote>
                </div>
              </div>
            </div>
            到这里
            
        </div> -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- base:js -->
  <script src="ubui_2_SpicaAdmin/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="jssa/off-canvas.js"></script>
  <script src="jssa/hoverable-collapse.js"></script>
  <script src="jssa/template.js"></script>
  <!-- endinject -->
  <!-- plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
  
  <script>
  
  var currentUrl = window.location.href;            //获取当前页面地址
      var timefly = 10000;         //超时时间
      var beginDt = new Date();        //把得到的当前时间放入变量作为初始时间
      var gourl = "lock-screen";        //需要跳转的地址
      document.onmousemove = retime;        //当鼠标移动时的时间
      document.onkeypress = retime;        //当鼠标点击重新获取当前时间放入变量作为初始时间
      //判断当前页面是否为跳转页面
      if (currentUrl == gourl) {
          clearInterval("checkTime()");
      }else {
          setInterval("checkTime()",1000);        //每间隔1000毫秒执行checkTime函数检查是否超时
      }
      
      function retime(){
         beginDt = new Date();
      }
      function checkTime(){
          nowDt = new Date();        //得到当前时间放入变量
      
          if((nowDt - beginDt) > timefly){
              location.href = gourl;     //如果当前时间减去初始时间大于超时时间，就执行自动跳转
          }
      }
  </script>
</body>

</html>
