<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>一部电影 - 个人信息修改</title>
  <!-- base:css -->
  <link rel="stylesheet" href="ubui_2_SpicaAdmin/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="ubui_2_SpicaAdmin/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="ubui_2_SpicaAdmin/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="ubui_2_SpicaAdmin/images/favicon.png" />
</head>

<body>
  <div class="container-scroller d-flex">
    <!-- partial:ubui_2_SpicaAdmin/partials/_sidebar.html -->
   <div th:replace="common/PersonalCenter::PersonalCenter"></div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:ubui_2_SpicaAdmin/partials/_navbar.html -->
      
      <nav th:replace="common/PersonalCenter::top"></nav>
      <!-- partial -->
      <div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">请完善您的个人信息</h4>
                  <p class="card-description" th:text="${session.Modificationtips} != null ? ${session.Modificationtips} : '请您输入'">
                    	个人资料
                  </p>
                  <form enctype="multipart/form-data" class="forms-sample" action=Modifypersonaldata method="post">
                    <div class="form-group">
                    <input type="hidden" name="id" th:value="${session.loginedUser.id}">
                      <label for="exampleInputName1">修改用户名</label>
                      <input type="text" name="username" class="form-control" id="exampleInputName1" th:placeholder="${session.loginedUser.username}">
                    </div>
                    <div class="form-group">
                      <label for="exampleSelectGender">性别</label>
                        <select name="sex" class="form-control" id="exampleSelectGender" >
                          <option value="1">男性</option>
                          <option value="2">女性</option>
                        </select>
                      </div>
                    <div class="form-group">
                      <label>上传图片</label>
                      <input type="file" name="file" class="file-upload-default">
                      <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="请上传您的个性图片">
                        <span class="input-group-append">
                          <button class="file-upload-browse btn btn-primary" type="button">上传</button>
                        </span>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">确认修改</button>
                    <button class="btn btn-light">取消</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- base:js -->
  <script src="ubui_2_SpicaAdmin/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="ubui_2_SpicaAdmin/js/off-canvas.js"></script>
  <script src="ubui_2_SpicaAdmin/js/hoverable-collapse.js"></script>
  <script src="ubui_2_SpicaAdmin/js/template.js"></script>
  <!-- endinject -->
  <!-- plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <script src="ubui_2_SpicaAdmin/js/file-upload.js"></script>
  <!-- End custom js for this page-->
  
  <script>
  
  var currentUrl = window.location.href;            //获取当前页面地址
      var timefly = 10000;         //超时时间
      var beginDt = new Date();        //把得到的当前时间放入变量作为初始时间
      var gourl = "lock-screen";        //需要跳转的地址
      document.onmousemove = retime;        //当鼠标移动时的时间
      document.onkeypress = retime;        //当鼠标点击重新获取当前时间放入变量作为初始时间
      //判断当前页面是否为跳转页面
      if (currentUrl == gourl) {
          clearInterval("checkTime()");
      }else {
          setInterval("checkTime()",1000);        //每间隔1000毫秒执行checkTime函数检查是否超时
      }
      
      function retime(){
         beginDt = new Date();
      }
      function checkTime(){
          nowDt = new Date();        //得到当前时间放入变量
      
          if((nowDt - beginDt) > timefly){
              location.href = gourl;     //如果当前时间减去初始时间大于超时时间，就执行自动跳转
          }
      }
  </script>
</body>

</html>
